doctype html

include ../../components/img/img

block variables

html(lang="en")
	head
		include ../head/head
		block head
	body
		.main.main_wrap
			include ../header/header

			main
				block content