.form__ {
  &control {

    @include media-breakpoint-up(lg) {
      padding-left: $input-padding-x;
      padding-right: $input-padding-x;
    }
    display: block;
    width: 100%;
    height: $input-height;
    border: 0 solid transparent;
    padding: $input-padding-y 0;
    font-size: 30px;
    font-family: "Courier New", sans-serif;
    font-weight: 400;
    line-height: $input-line-height;
    color: $input-color;
    background: $input-background url("../img/form__bottom_border.png") repeat-x left bottom;

    &:focus {
      color: $input-focus-color;
      background-color: $input-focus-background;
      //border-color: $input-focus-border-color;
      outline: 0;
    }

    &::-ms-expand {
      background-color: transparent;
      border: 0;
    }

    // Placeholder
    &::placeholder {
      //color: $input-placeholder-color;
      opacity: 1;
    }

    &:disabled, &[readonly] {
      background-color: $input-disabled-background;
      opacity: 1;
    }
    &_textarea {
      height: auto;
      padding-left: 0;
      padding-right: 0;
      background-image: url("../img/form__textarea-background.png");
      background-repeat: repeat-y;
      background-position: left 24px;
      line-height: 2;
      overflow: hidden;
      resize: none;
      &:focus {
        outline: none;
      }
    }
  }

  &inline {
    @include media-breakpoint-up(lg) {
      &_control {
        flex: 1 0 auto;
        width: auto;
        margin-bottom: 4px;
      }
    }
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    &_label {
      display: flex;
      flex: 0 0 auto;
      flex-flow: row wrap;
      align-items: center;
      margin-bottom: 0;
      margin-right: 18px;
    }
    &_width-sm {
      @include media-breakpoint-up(sm) {
        width: 214px;
      }
    }
    &_margin-bottom {
      @include media-breakpoint-up(lg) {
        margin-bottom: 10px;
      }
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &label {
    font-size: 22px;
    font-weight: 700;
    color: $gray-200;
    cursor: pointer;
    line-height: 1.2;
  }

  &sub {
    position: relative;
    top: 2px;
  }

  &fieldset {
    &_margin-bottom {
      @include media-breakpoint-up(lg) {
        margin-bottom: 48px;
      }
      margin-bottom: 36px;
    }
  }

  &legend {
    font-size: 24px;
    color: $gray-200;
    font-weight: $font-weight-bold;
    margin-bottom: .25rem;
  }

  &checkbox {
    position: relative;
    padding-left: 1.75rem;
    &_input {
      position: absolute;
      z-index: -1;
      opacity: 0;
      &:checked ~ .form__checkbox_label {
        &:before {
          opacity: 1;
        }
      }
    }
    &_label {
      position: relative;
      &:before {
        content: "";
        display: block;
        position: absolute;
        top: -.375rem;
        left: -1.625rem;
        width: 21px;
        height: 27px;
        background: url("../img/checkbox-active.png") no-repeat 100%;
        opacity: 0;
        transition: opacity .2s;
      }
      &:after {
        content: "";
        display: block;
        position: absolute;
        top: .25rem;
        left: -1.75rem;
        width: 19px;
        height: 18px;
        background: url("../img/checkbox-main.png") no-repeat top;
      }
    }
  }

  &radio {
    position: relative;
    padding-left: 2rem;
    &_input {
      position: absolute;
      z-index: -1;
      opacity: 0;
      &:checked ~ .form__radio_label {
        &:before {
          opacity: 1;
        }
      }
    }
    &_label {
      position: relative;
      &:before {
        content: "";
        display: block;
        position: absolute;
        top: .5rem;
        left: -1.5rem;
        width: 12px;
        height: 12px;
        background: url("../img/radio-active.png") no-repeat 100%;
        opacity: 0;
        transition: opacity .2s;
      }
      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: -2rem;
        width: 28px;
        height: 28px;
        background: url("../img/radio-main.png") no-repeat top;
      }
    }
  }

  &list {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: -10px;
    margin-right: -10px;
    &_padding-top {
      padding-top: 10px;
    }
    &_item-col {
      @include media-breakpoint-up(sm) {
        flex-basis: 50%;
      }
      @include media-breakpoint-up(lg) {
        flex-basis: 33.3333%;
      }
      flex: 0 0 100%;
      padding-left: 10px;
      padding-right: 10px;
    }
    &_item-inline {
      padding-left: 10px;
      padding-right: 10px;
      margin-bottom: .5rem;
    }
  }
}
