html {
  min-height: 100%;
  position: relative;
  font-size: 16px;
}

html, body {
  height: 100%;
}

body {
  background-color: #797979;
}

// form
.label {
  font-size: 22px;
  font-weight: bold;
}