.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

@include media-breakpoint-up(lg) {
    .container {
        max-width: 804px;
    }
}